//全局样式
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

// 根div
#root {
  height: 100%;
  padding: 15px;
}

// 整体页面
.app-container {
  // 表格
  .rc-table {
    // 筛选框
    .filter-container {
      padding-bottom: 10px;

      .ant-form-horizontal .ant-form-item-label {
        width: 95px;
      }

      .rc-form {
        padding: 24px 24px 8px 24px;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        border-radius: 2px;

        .ant-form-item {
          display: flex;
        }

        .ant-form-item-control-wrapper {
          flex: 1;
        }
      }

      .ant-form {
        max-width: none;
      }
    }

    // 表格及分页
    .list-pagination-wrapper {
      // 表格
      .list-container {
        .ant-table-thead tr th {
          // background-color:rgba(0,134,244,1);
          // color: #333333;
          font-weight: bold;
        }

        .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
          position: relative;
          padding: 5px 5px;
          overflow-wrap: break-word;
          line-height: 28px;
        }
      }

      // 分页
      .pagination-container {

      }
    }
  }
}

// 修改antd样式

// 表格行高
.ant-table-tbody > tr > td {
  padding: 12px 12px;
  word-break: break-word;
}
