//全局样式
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}
#root {
  height: 100%;
}

// 修改antd样式

// 表格行高
.ant-table-tbody > tr > td {
  padding: 12px 12px;
  word-break: break-word;
}
